{% extends 'base.html.twig' %}

{% block title %}
  Log in!
{% endblock %}

{% block body %}
  {% include 'navbar.html.twig' %}

  <h1>
    Rejoindre notre monde
  </h1>
  <div class="loginForm">
    <div class="loginContainer">
      <form method="post">
        <input type="email"
          placeholder="Email"
          value="{{ last_username }}"
          name="email"
          id="inputEmail"
          class="form-control"
          autocomplete="email"
          required
          autofocus />
        <input type="password"
          placeholder="Mot de passe"
          name="password"
          id="inputPassword"
          class="form-control"
          autocomplete="current-password"
          required />

        <input type="hidden"
          name="_csrf_token"
          value="{{ csrf_token('authenticate') }}" />

        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

        <button class="btn btn-lg btn-primary" type="submit">
          Rejoindre notre monde
        </button>
      </form>
    </div>
    <p>
      Vous avez perdu vos identifiants ? <a href="#">Réinitialisez votre mot de
        passe !</a>
    </p>
    <p>
      Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">Devenez
        un WEFA !</a>
    </p>
  </div>
{% endblock %}
